<br><br>
<div class="container">
  <div class="row">
    <div class="col-12">
        <div>
            <nav class="navbar navbar-expand-sm bg-dark navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <%= link_to 'Home', home_path, class: 'btn btn-secondary'%>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'Postular', new_job_offer_candidate_path(@job_offer), class: "btn btn-info" %>
                    </li>
                </ul>
            </nav>
        </div>
<br>
<h1>DETALLES DE LA OFERTA</h1>
<p>
  <strong>Cargo:</strong>
  <%= @job_offer.cargo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @job_offer.descripcion %>
</p>

<p>
  <strong>Vacantes:</strong>
  <%= @job_offer.vacantes %>
</p>

<p>
  <strong>Rango salarial:</strong>
  <%= @job_offer.rango_salarial %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @job_offer.fecha_inicio %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @job_offer.modalidad %>
</p>

<p>
  <strong>Región:</strong>
  <%= @job_offer.regiones %>
</p>
<br>
<%= link_to 'Postular', new_job_offer_candidate_path(@job_offer), class: "btn btn-info"%>
<hr>
<br>
<p><strong>POSTULANTES:</strong></p>
<ul>
    <% if @job_offer.candidates %>
        <% @job_offer.candidates.each do |candidate|%>
            <li><strong><%= candidate.id %>:
            <p><b>Nombre:</b> </strong><%= "#{candidate.nombre}" %></li>
        <% end %>
    <% else %>
        <% 'No Candidates Added!!!'%>
    <% end %>
</ul>

<br>
