<p id="notice"><%= notice %></p>

<p>
  <strong>Cargo:</strong>
  <%= @job_offer.cargo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @job_offer.descripcion %>
</p>

<p>
  <strong>Vacantes:</strong>
  <%= @job_offer.vacantes %>
</p>

<p>
  <strong>Rango salarial:</strong>
  <%= @job_offer.rango_salarial %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @job_offer.fecha_inicio %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @job_offer.modalidad %>
</p>

<p>
  <strong>Regiones:</strong>
  <%= @job_offer.regiones %>
</p>

<hr>
<br>
<p><strong>Postulantes:</strong></p>
<ul>
    <% if @job_offer.candidates %>
        <% @job_offer.candidates.each do |candidate|%>
            <li><strong><%= candidate.id %>: </strong><%= "#{candidate.first_name} #{candidate.last_name}" %></li>
        <% end %>
    <% else %>
        <% 'No Candidates Added!!!'%>
    <% end %>
</ul>
<%= link_to 'Postular', new_job_offer_candidate_path(@job_offer) %>
<br>
<%= link_to 'Edit', edit_job_offer_path(@job_offer) %> |
<%= link_to 'Back', job_offers_path %>
