<!DOCTYPE html>
<html>
  <head>
    <title>CertificacionBolsaLaboral</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:OldLace;">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <br><br>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col-12">

        <% if user_signed_in? %>
                <p><b>Bienvenido: <%= current_user.email %>!!</b></p>
                <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
            <div class="text-right"><%= link_to 'Ir Ofertas Laborales', job_offers_path, class: 'btn btn-info' %></div>
            </div>
        <% else %>
            <div>
              <nav class="navbar navbar-expand-sm bg-dark navbar-light">
              <ul class="navbar-nav">
              <li class="nav-item active">
              <%= link_to 'Home', home_path, class: 'btn btn-secondary'%>
              </li>
              <li class="nav-item">
                <%= link_to 'Ofertas Laborales', job_offers_path, class: 'btn btn-dark' %>
                <%= link_to '',home_path, class: 'btn btn-dark' %>
                <%= link_to "Registro Empresa", new_user_registration_path, class: 'btn btn-dark' %>
                <%= link_to "Registro Postulante", new_user_registration_path, class: 'btn btn-dark' %>

              </li>
              <li class="nav-item">
                <%= link_to "Ingresar", new_user_session_path, class: 'btn btn-dark' %>
              </li>
            </ul>
            </nav>
          </div>
        </div>
        <% end %>
    <%= yield %>
  </body>
</html>
